doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Splitz ADMIN
    link(rel="stylesheet", href="../style.css")
  body
    header
      h1 Splitz ADMIN
    main
      .text-section 
        a(href="/admin/recent_workouts") Recent workouts
        br
        br
        a(href="/admin/user_analytics") User analytics
        br
        br
        a(href="/admin/user_viewer") All users
        br
        br
        a(href="/admin/mock_strava") Mock Strava Workout
        br
        br



    footer
      p Copyright © 2023 Splitz
      img(src="/powered_by_strava.svg" height='24px')
