doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Splitz Settings
    link(rel="stylesheet", href="style.css")
  body
    header
      h1 Splitz
    main
      .text-section 
        h2 Welcome #{name}
      .card(style={'text-align': 'left'})
        h2.section-title Strava Connection
          if stravaConnected
            h3 Status: 
              span.status(style={color: '#00CC00'})
                | Connected
            p Splitz is connected and watching for new workouts. Nothing left for you to do except ... run 👟
            p 
              | To disconnect your Strava account, remove Splitz from your installed apps within your 
              a(href="https://www.strava.com/settings/apps") Strava settings.          
          else
            h3 Status: 
              span.status(style={color: '#FF0000'})
                | Unconnected
            p Connect your Strava account to generate workout summaries automatically.
            a(href=`https://www.strava.com/oauth/authorize?client_id=101816&redirect_uri=https://workoutsplitz.com/strava_oauth_redirect&response_type=code&scope=activity:read_all,activity:write`)
              img(src="/connect_with_strava.svg" style="max-width: 500px;")
            br
            br
            p Splitz does not keep or share any of your activity data once the summary has been updated on Strava.
    
      if stravaConnected
        .card
          h2.section-title Spare a gel?
          p 
            | Hi, I'm David, the maker of Splitz and an OTQ hopeful 
            a(href=`https://www.strava.com/athletes/7786466`) marathoner.
          p If Splitz is helping your training, please consider helping me cover the costs of building and maintaining it!
          <script async src="https://js.stripe.com/v3/buy-button.js"> </script>
          <stripe-buy-button buy-button-id="buy_btn_1NZ1ohK0AQtnORqn6q0PCfxp" publishable-key="pk_live_51NYzE1K0AQtnORqnHWbv6FnpnWzYh0rBDeaHNs3xa2ExcfbGMIiZYmb7qE11cl7zrsmV4I2S4T5l48WlngkmFKHV00M3QQiFrB" >
          </stripe-buy-button>
    
      form(action="/update_preferences", method="POST")
        .card(style={'text-align': 'left'})
          h2.section-title Workout Settings
          h3 
            b Workout Paces
          p During workouts, I usually run at:
          .radio-container
            input(type="radio", name="workoutPace", value=6, id="6", checked=(preferences.parser.workoutPace === 6))
            label(for="6") 6:00/mi or faster
            br
            
            input(type="radio", name="workoutPace", value=7, id="7", checked=(preferences.parser.workoutPace === 7))
            label(for="7") 6:00 - 7:00/mi 
            br
            
            input(type="radio", name="workoutPace", value=8, id="8", checked=(preferences.parser.workoutPace === 8))
            label(for="8") 7:00 - 8:00/mi
            br
            
            input(type="radio", name="workoutPace", value=9, id="9", checked=(preferences.parser.workoutPace === 9))
            label(for="9") 8:00 - 9:00/mi
            br
            
            input(type="radio", name="workoutPace", value=10, id="10", checked=(preferences.parser.workoutPace === 10))
            label(for="10") 9:00 - 10:00/mi
            br
            
          br
          p 
            i If you're in between choices, choose the slower option

          hr
          br

          h3 
            b Primary Workout Style
          p 
            i This will help Splitz determine how to interpret your workout structure.
          label.radio-label
            input(type="radio", name="dominantWorkoutType", value="DISTANCE", checked=(preferences.parser.dominantWorkoutType === "DISTANCE"))
            | Usually distance based
          br
          label.radio-label
            input(type="radio", name="dominantWorkoutType", value="TIME", checked=(preferences.parser.dominantWorkoutType === "TIME"))
            | Usually time based
          br
          label.radio-label
            input(type="radio", name="dominantWorkoutType", value="BALANCED", checked=(preferences.parser.dominantWorkoutType === "BALANCED"))
            | Mix of both
          br
          
          button(type="submit") Save

        .card(style={'text-align': 'left'})
            h2.section-title Summary Display Format
            p 
              b Display all paces in minutes per:
            label.radio-label
              input(type="radio", name="paceUnits", value="MILE", checked=(preferences.format.paceUnits === "MILE"))
              | Mile
            br
            label.radio-label
              input(type="radio", name="paceUnits", value="KM", checked=(preferences.format.paceUnits === "KM"))
              | Kilometer
            br
            br
            p 
              b For times under 90 seconds, show as: 
            label.radio-label
              input(type="radio", name="sub90SecFormat", value="MINUTE", checked=(preferences.format.sub90SecFormat === "MINUTE"))
              | minute:second (e.g. "1:12")
            br
            label.radio-label
              input(type="radio", name="sub90SecFormat", value="SECONDS", checked=(preferences.format.sub90SecFormat === "SECONDS"))
              | seconds only (e.g. "72")
            br
            br
            p 
              b For laps under a mile, show: 
            label.radio-label
              input(type="radio", name="subMileDistanceValue", value="PACE", checked=(preferences.format.subMileDistanceValue === "PACE"))
              | pace
            br
            label.radio-label
              input(type="radio", name="subMileDistanceValue", value="TIME", checked=(preferences.format.subMileDistanceValue === "TIME"))
              | total time
            br
            br
            p 
              b For laps over a mile, show:
            label.radio-label
              input(type="radio", name="greaterThanMileDistanceValue", value="PACE", checked=(preferences.format.greaterThanMileDistanceValue === "PACE"))
              | pace
            br
            label.radio-label
              input(type="radio", name="greaterThanMileDistanceValue", value="TIME", checked=(preferences.format.greaterThanMileDistanceValue === "TIME"))
              | total time
            br
            br
            p 
              b Display all splits or just show the range:
            label.radio-label
              input(type="radio", name="detailsStructure", value="SPLITS", checked=(preferences.format.detailsStructure === "SPLITS"))
              | All splits (e.g. "5:38, 5:41, 5:42, 5:39")
            br
            label.radio-label
              input(type="radio", name="detailsStructure", value="RANGE", checked=(preferences.format.detailsStructure === "RANGE"))
              | Range (e.g. "5:38 — 5:42")
            br
            br
            p 
              b Display splits in full or condensed:
            label.radio-label
              input(type="radio", name="detailsLength", value="FULL", checked=(preferences.format.detailsLength === "FULL"))
              | Full (e.g. "5:38, 5:41, 5:42, 5:39")
            br
            label.radio-label
              input(type="radio", name="detailsLength", value="CONDENSED", checked=(preferences.format.detailsLength === "CONDENSED"))
              | Condensed (e.g. "5:38,41,42,39")
              
            
            br
            br

            button(type="submit") Save
    
      .card(style={'text-align': 'left'})
        h2.section-title Account Settings
        form(action="/update_account_settings", method="POST", style={'text-align': 'left'})
          p 
            b Data Usage and Communication
          label.radio-label
            input(type="checkbox", name="accountSettings", value="dataUsageOptIn", checked=(preferences.account.dataUsageOptIn))
            | Allow my workout data to be used to improve Splitz's accuracy
          br
          label.radio-label
            input(type="checkbox", name="accountSettings", value="emailOptIn", checked=(preferences.account.emailOptIn))
            | Receive email announcements when Splitz has new features
          br

          button(type="submit") Save
        
        br
        hr
        br

        div(style="text-align: left;")
          p
            b Account Deletion
          if stravaConnected 
            p 
              | To delete your Splitz account, first remove Splitz in your 
              a(href="https://www.strava.com/settings/apps") Strava settings.
          else
            p Your Splitz account is already disconnected from Strava.
            a.button.delete(href="/delete_account") Delete Account
  footer
      p Copyright © 2023 Splitz
      img(src="/powered_by_strava.svg" height='24px')