html
    head
        title= title 
        script(type='application/javascript' src='clientJs.js')
    body 
        h1= bodyMessage
        form(action="/parse_activity" method="get")
            p
                | Activity ID:
                input(name='activityID' id='activityID' type='text')
            input(value='Submit', type='submit')