doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Splitz
    script(type='module' src='login.js')
    link(rel="stylesheet", href="style.css")
  body
    header
      h1 Splitz
    main
      .text-section 
        p Logging in ...

    footer
      p Copyright © 2023 Splitz
      img(src="/powered_by_strava.svg" height='24px')
