doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Splitz MOCK STRAVA
    link(rel="stylesheet", href="../style.css")
  body
    header
      h1 Splitz MOCK STRAVA
    main
      .card 
        
        //- for day in workouts
        //-     h2 #{day.date}
        //-     for workout in day.workouts
        //-         a(href=`https://strava.com/activities/${workout.activityID}` target="_blank")  
        //-             h2 #{workout.parsedOutputTitle}
        //-             p #{workout.parsedOutputDescription}
  footer
      p Copyright © 2023 Splitz
      img(src="/powered_by_strava.svg" height='24px')