doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Splitz User Analytics
    link(rel="stylesheet", href="../style.css")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
  body
    header
      h1 Splitz User Analytics
    
    for event in globalEventDatasets
        canvas(id=event.name width="400" height="200")
        script.
            var graphData = !{JSON.stringify(event.data)}
            var eventName = !{JSON.stringify(event.name)}
            console.log(graphData)
            // Your chart data
            var data = {
                datasets: [{
                    label: eventName,
                    borderColor: "rgb(75, 192, 192)",
                    data: graphData,
                    fill: false
                }]
            };

            // Chart configuration
            var config = {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        x: {
                            type: 'category',
                            labels: data.labels
                        },
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };

            // Create the chart
            var ctx = document.getElementById(eventName).getContext('2d');
            var myChart = new Chart(ctx, config);

  footer
      p Copyright © 2023 Splitz
      img(src="/powered_by_strava.svg" height='24px')